<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      href="https://fonts.googleapis.com/css?family=Racing+Sans+One|Roboto&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>Veritus Sigma</h1>
      <div class="header__cog"></div>
      <div class="header__box1"></div>
      <div class="header__box2"></div>
    </header>
    <div class="herotext">
      <p>Coming Soon</p>
      <p>In risus dui. Imperdiet in.</p>
    </div>
    <main>
      <section class="container-fluid">
        <div class="row justify-content-center">
          <article class="article">
            <div class="articlecard">
              <h2>Alidpt Sit</h2>
              <p>
                Etiam ut enim ante. Duis neque magna, convallis eget sapien
                facilisis, tincidunt porttitor nulla. Suspendisse imperdiet
                venenatis diam faucibus congue. Integer condimentum pulvinar
                metus, ac tempus augue fringilla id. Suspendisse interdum
                pulvinar justo et ullamcorper. Vivamus vitae leo risus. Praesent
                a ornare sem. Quisque tincidunt leo non sapien suscipit, gravida
                gravida ipsum auctor. Pellentesque maximus risus velit, eu
                convallis tortor blandit vel. Curabitur libero magna, accumsan
                in ante nec, fringilla maximus metus. Aenean tempus interdum
                dolor, nec laoreet sem. Nunc egestas feugiat felis, sit amet
                lobortis mauris dignissim nec.
              </p>
              <img src="<%= require('./images/MockImg1.png') %>" alt="Alidpt Sit" %>
            </div>
          </article>
          <article class="article">
            <div class="articlecard">
              <h2>Magna Sed Eros</h2>
              <p>
                Nulla facilisi. Mauris congue ultricies felis et efficitur.
                Phasellus vestibulum at leo id convallis. Aenean tincidunt
                tortor porta ex hendrerit, et ultrices enim aliquet. Suspendisse
                eleifend erat eu molestie dictum. Cras sed egestas nisl, vel
                convallis eros. Cras mi eros, molestie convallis nulla sed,
                feugiat auctor nisl.
              </p>
              <img
                src="<%= require('./images/MockImg3.png') %>"
                alt="Magna Sed Eros"
              />
            </div>
          </article>
          <article class="article">
            <div class="articlecard">
              <h2>Arcu at Aliquet</h2>
              <p>
                Cras sit amet sapien sit amet elit porta mattis non et risus.
                Morbi ac sapien maximus, molestie elit eu, facilisis nulla.
                Etiam a sapien ligula. In volutpat dapibus mattis. Nulla sed
                hendrerit massa. Pellentesque eget ultrices massa, non rutrum
                tellus. Cras et placerat est. Aenean ut interdum metus.
                Vestibulum id massa condimentum, pellentesque mauris sit amet,
                vestibulum orci.
              </p>
              <img
                src="<%= require('./images/MockImg4.png') %>"
                alt="Arcu at Aliquet"
              />
            </div>
          </article>
          <article class="article">
            <div class="articlecard">
              <h2>Iaculis Metus</h2>
              <p>
                In in urna et enim consectetur convallis. Curabitur porta risus
                elit, in tincidunt nibh scelerisque sed. Donec at quam varius,
                viverra odio et, feugiat diam. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Mauris facilisis urna eget
                malesuada vestibulum. Aliquam quis justo sed ante finibus
                fermentum eget vel lorem. Nunc elementum lectus nisi, sed
                consectetur nulla condimentum at. Nunc iaculis orci enim, a
                faucibus nunc feugiat nec. Cras ac ex at tellus sodales accumsan
                eu sed magna. Nunc non diam tellus. Proin interdum erat non ex
                tempor, non suscipit risus condimentum.
              </p>
              <img
                src="<%= require('./images/MockImg2.png') %>"
                alt="Iaculis Metus"
              />
            </div>
          </article>
        </div>
      </section>
      <section class="signup">
        <h2>Sign Up For Future Updates</h2>
        <form onsubmit="(e) => e.preventDefault()">
          <input type="email" placeholder="Enter Your Email" required />
          <input type="submit" value="Sign Up" />
        </form>
      </section>
    </main>
    <footer>
      <p>&copy; Veritas Sigma & ExampleCo 2018-2019. All Rights Reserved</p>
      <ul>
        <li><a href="#">Cookie Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Material Usage Policy</a></li>
      </ul>
    </footer>
  </body>
</html>
