@import "custom";
@import "~bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Racing Sans One', ;
}

.article {
  @include make-col-ready();
  @include make-col(12);

  @include media-breakpoint-up(lg) {
    @include make-col(6)
  }

  @extend .mb-3;

  .articlecard {
    @extend .h-100;
    @extend .card;

    @extend .border;
    @extend .border-primary;

    @extend .p-2;

    h2 {
      @extend .display-4;
      @extend .text-center;
      @extend .border-bottom;
      @extend .border-primary;
      @extend .pb-2;
    }

    p {
      @extend .card-text;
      @extend .pb-3;
      @extend .pl-1;
      @extend .mb-auto;
    }

    background: none;

    img {
      @extend .card-img-bottom;
    }
  }
}

.signup {
  @extend .jumbotron;
  @extend .bg-primary;
  @extend .text-dark;

  @extend .mb-1;
  
  h2 {
    @extend .h1;
    @extend .text-center;
    @extend .mb-3;
  }

  form {
    max-width: map-get($container-max-widths, "md");
    @extend .mx-auto;
    @extend .input-group;

    input[type="email"] {
      @extend .form-control;
    }

    input[type="submit"] {
      @extend .input-group-append;
      @extend .btn;
      @extend .btn-secondary;
    }
  }
}

footer {
  @extend .text-center;
  @extend .small;

  p {
    @extend .m-0;
    @extend .mt-3;
  }

  ul {
    @extend .nav;
    @extend .justify-content-center;

    li {
      @extend .nav-item;
      a {
        @extend .nav-link;
      }
    }
  }
}
