@import "custom";
@import "~bootstrap/scss/bootstrap";

@mixin make-header-box {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
    position: absolute;
    width: 10vw;
    height: 10vw;
    background-color: black;
    z-index: 1;
    overflow: visible;
    @include use-drop-shadow(20px);

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: black;
      min-height: 10000vh;
      width: 0.5vw;
      bottom: 0;
      left: calc(50% - 0.25vw);
    }
  }
}

@mixin use-drop-shadow($blur) {
  filter: drop-shadow(0px 4px $blur black);
}

@keyframes bg-scroll {
  from {
    background-position-x: 0%;
  }

  to {
    background-position-x: 100%;
  }
}

@keyframes rot-360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes box1-anim {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100vw);
  }
}

@keyframes box2-anim {
  0% {
    transform: translateX(-100%) scale(0.5);
  }

  100% {
    transform: translateX(100vw) scale(0.5);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Racing Sans One";
}

header {
  @extend .border-bottom;
  @extend .border-secondary;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;

  background-image: url("./images/geo_abs.png");
  background-size: 75%;
  background-attachment: fixed;
  animation: 60s linear infinite bg-scroll;

  position: relative;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    min-height: 70vh;
    background-size: 50%;
  }

  h1 {
    @extend .display-2;
    @extend .text-hide;
    background-image: url("./images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    max-width: map-get($container-max-widths, "sm");
    padding-top: 50%;

    z-index: 2;

    @include use-drop-shadow(40px);

    @include media-breakpoint-up(md) {
      width: 40%;
    }
    @include media-breakpoint-up(lg) {
      width: 30%;
    }
  }

  .header__cog {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
      position: absolute;
      bottom: -45%;
      right: -25%;
      width: 50%;
      padding-top: 50%;
      background-image: url("./images/gear.svg");
      background-size: contain;
      background-repeat: no-repeat;
      animation: 1.5s linear infinite rot-360;
      z-index: 3;
    }
  }

  .header__box1 {
    @include make-header-box();
    top: 200px;
    left: 0;
    animation: 30s linear infinite box1-anim;
    z-index: 0;
  }

  .header__box2 {
    @include make-header-box();
    bottom: 50px;
    left: 0;
    animation: 25s ease-in-out infinite box2-anim;
    animation-direction: reverse;
    transform: scale(0.5);
    z-index: 3;
  }
}

.herotext {
  @extend .jumbotron;
  @extend .text-center;
  @extend .py-3;
  background: none;
  p {
    @extend .h2;

    &:nth-child(1) {
      @extend .display-1;
    }

    &:nth-child(2) {
      @extend .display-4;
    }
  }
}

.article {
  @include make-col-ready();
  @include make-col(12);

  @include media-breakpoint-up(md) {
    @include make-col(6);
  }

  @extend .mb-3;
  @extend .mb-lg-5;

  .articlecard {
    @extend .h-100;
    @extend .card;

    @extend .border;
    @extend .border-primary;

    @extend .mx-lg-auto;
    max-width: 700px;
    background: none;

    h2 {
      @extend .display-4;
      @extend .text-center;
      @extend .border-bottom;
      @extend .border-primary;
      @extend .pb-2;
      @extend .mx-2;
    }

    p {
      @extend .card-text;
      @extend .pb-3;
      @extend .px-3;
      @extend .mb-auto;
    }

    img {
      @extend .card-img-bottom;
    }
  }
}

.signup {
  @extend .jumbotron;
  @extend .bg-primary;
  @extend .text-dark;

  @extend .mb-1;

  h2 {
    @extend .h1;
    @extend .text-center;
    @extend .mb-3;
  }

  form {
    max-width: map-get($container-max-widths, "md");
    @extend .mx-auto;
    @extend .input-group;

    input[type="email"] {
      @extend .form-control;
      @extend .rounded-left;
    }

    input[type="submit"] {
      @extend .input-group-append;
      @extend .btn;
      @extend .btn-secondary;
      @extend .rounded-right;
    }
  }
}

footer {
  @extend .text-center;
  @extend .small;

  p {
    @extend .m-0;
    @extend .mt-3;
  }

  ul {
    @extend .nav;
    @extend .justify-content-center;

    li {
      @extend .nav-item;
      a {
        @extend .nav-link;
      }
    }
  }
}
